.card1
{
    background-color: rgb(161, 192, 241);
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
    min-height: 200px
}
.corpo
{
    background-color: aliceblue;
}
.card {
    background-color: rgb(161, 192, 241);
    min-height: 200px
}
.text-center
{
    font-size: x-large;
}
.titulo
{
    font-size: 75px;
    font-style: italic;
}
.fab
{
    color: rgb(1, 14, 1);
    font-size: 40px;
}

